body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
}

.form-control {
    margin-bottom: 10px;
}

.form-control:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.card-title {
    margin-bottom: 10px;
}

.card button {
    background-color:teal;
    border: none;
}

.card button:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.card button:active {
    transform: scale(0.98);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.card p {
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.google {
    text-align: center;
}

.google a {
    border: none;
}

.google a:hover {
    transition: 0.3s;
    background-color:#adb7e6;
}
 